<div class="container">
  <div class="langs"></div>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="/assets/logo-color.svg" alt="ng-zorro-antd">
        <span class="title">ng-alain</span>
      </div>
      <div class="desc">武林中最有影响力的《葵花宝典》；欲练神功，挥刀自宫</div>
    </div>
    <router-outlet></router-outlet>
    <mz-global-footer>
      <mz-global-footer-item href="">帮助</mz-global-footer-item>
      <mz-global-footer-item href="">隐私</mz-global-footer-item>
      <mz-global-footer-item href="">条款</mz-global-footer-item>
      Copyright
      <i class="anticon anticon-copyright"></i> 2017
      <a href="//github.com/cipchk" target="_blank">卡色</a>出品
    </mz-global-footer>
  </div>
</div>
